.goods {

    width: 100%;

    &__title {
        margin-top: 10px;
    }

    &__count {
        font-size: 16px;
        color: grey;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        max-height: 450px;
        overflow: scroll;
    }

    &__list {
        width: 100%;
        text-align: center;
    }

    &__filter {
        margin-top: 10px;
        margin-bottom: 10px;
        &__gender {
            display: inline-block;

            &:first-child {
                margin-right: 5px;
            }
        }

        &__count {
            display: block;
            margin-bottom: 10px;
        }
    }


    @media (max-width: 750px) {
        &__flex {
            justify-content: center;
        }
    }
}