.constructor {
    &__logo {
        position: relative;
        background-image: url('../../assets/img/human.jpg');
        background-repeat: no-repeat;
    }

    svg {
        path {
            cursor: pointer;
            transform: translateX(-150px) scale(1.5) translateY(-25px);

            &:hover { 
                fill: #6366F1 !important;
            }
        }
    }
}