.header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6366F1;
    &__nav {
        &__link:first-child {
            margin-right: 20px;
        }

        &__link {
            color: white;
        }

        @media (max-width: 415px) {
            margin-top: 20px;
        }
    }

    &__logo__text {
        color: white;
    }

    @media (max-width: 770px) {
        padding-right: 30px;
        padding-left: 30px;    
    }

    @media (max-width: 415px) {
        display: block;
        padding-right: 10px;
        padding-left: 10px;   
    }

    
}