.header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6366F1;
    &__nav {
        &__link:first-child {
            margin-right: 20px;
        }

        &__link {
            color: white;
        }
    }

    &__logo__text {
        color: white;
    }
}