
h1, h2, h3 h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.wardrobe {
    padding-right: 100px;
    padding-left: 100px;
    &__container {
        display: flex;
        justify-content: flex-start;
    }

    &__count {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}