
a {
    text-decoration: none;
}


.App {
    margin-top: 20px;
}

.wardrobe {
    padding-right: 100px;
    padding-left: 100px;
    &__container {
        display: flex;
    }

    &__count {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}