
h1, h2, h3 h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

.wardrobe {
    padding-right: 100px;
    padding-left: 100px;
    &__container {
        display: flex;
        justify-content: flex-start;
        @media (max-width: 600px) {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__count {
        margin-top: 20px;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            margin-top: 50px;
        }
    }

    @media (max-width: 770px) {
        padding-right: 30px;
        padding-left: 30px;    
    }

    @media (max-width: 415px) {
        display: block;
        padding-right: 10px;
        padding-left: 10px;   
    }
}

.trash {
    padding-right: 100px;
    padding-left: 100px;

    &__container {
        margin-top: 20px;
    }

    &__title {
        margin-top: 20px;
    }

    &__result {
        margin-top: 30px;
    }

    @media (max-width: 770px) {
        padding-right: 30px;
        padding-left: 30px;    
    }
    
    @media (max-width: 415px) {
        padding-right: 10px;
        padding-left: 10px;   
    }
}